body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    animation: gradientAnimation 8s ease-in-out infinite;
}


@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
.form-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #5b9bd5;
}

input {
    width: calc(100% - 24px); /* Make the input fields fit within the form container */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-color: #5b9bd5;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #5b9bd5;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

button:hover {
    background-color: #1f6eb2;
}

button span {
    transition: transform 0.3s ease-in-out;
}

button:hover span {
    transform: translateY(-100%);
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

button:hover::before {
    transform: translateX(0);
}
.pageclip-form {
    display: flex;
    flex-direction: column;
}

.pageclip-form .input-container {
    display: flex;
    flex-direction: column;
}

.pageclip-form textarea {
    flex: 2; /* Allow the textarea to take up the available space */
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

.pageclip-form button {
    padding: 12px;
    border: none;
    background-color: #5b9bd5;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}



